<% content_for :title, 'Election: Settings' %>

<% content_for :primary do %>
<div class="container-fluid">

      <% if params[:advanced] %>
        <a href="<%= request.path %>" style="float: right;">Use Simple Settings</a>
        <h2>Settings</h2>
        <%= render partial: 'shared/election_form_advanced', locals: { is_creating: false } %>
      <% else %>
        <a href="?advanced=1" style="float: right;">Use Advanced Settings</a>
        <h2>Settings</h2>
        <%= render partial: 'shared/election_form', locals: { is_creating: false } %>
      <% end %>

</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  'Settings'
]} %>
