<% content_for :title, 'Election: New' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main">

      <%= render partial: 'shared/admin_toolbar', locals: {items: [
        'New election'
      ]} %>

      <h2>New Election</h2>

      <%= render partial: 'shared/election_form', locals: { is_creating: true } %>
    </div>
  </div>
</div>
