<% if !current_user.can_see_exact_results?(@election) %>
  <p class="alert alert-warning" role="alert">
    <b>Note:</b> The vote counts below have been rounded to protect the voters' privacy.
    The total score may not be accurate.
  </p>
<% end %>

<div style="float: right;" class="mb-2">
  <span class="dropdown">
    <a class="dropdown-toggle" id="approvalExportDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Export to Excel
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="approvalExportDropdown">
      <a class="dropdown-item" href="<%= url_for(format: :csv, table: 'ranking') %>">Aggregate results</a>
      <% if current_user.can_see_voter_data?(@election) %>
        <a class="dropdown-item" href="<%= url_for(format: :csv, table: 'ranking_individual') %>">Individual votes</a>
      <% end %>
    </div>
  </span>
</div>

<div id="ranked-approval-analytics-table"></div><br>

<style>
#ranked-approval-table .progress {
  margin-bottom: 0;
  background-color: #bbbbbb;
}
</style>

<!-- Code for the projects ranked-approval table -->
<script type="text/javascript">
var project_ranked_votes = analytics_data.ranking.project_ranked_votes;
var max_n_projects = <%= @election.config[:ranking][:max_n_projects] %>;

function reloadRankedApprovalTable() {
  var table = document.createElement('table');
  table.className = 'table table-bordered table-sm';
  var thead = document.createElement('thead');
  thead.className = 'thead-light';

  { // first row
    var tr = document.createElement('tr');

    {
      var th = document.createElement('th');
      th.textContent = 'Project';
      tr.appendChild(th);

      th = document.createElement('th');
      th.textContent = 'Cost';
      tr.appendChild(th);

      for (var i = 1; i <= max_n_projects; i++) {
        th = document.createElement('th');
        th.textContent = 'Rank ' + i;
        tr.appendChild(th);
      }

      th = document.createElement('th');
      th.textContent = 'Total Score';
      tr.appendChild(th);
    }

    thead.appendChild(tr);
  }
  table.appendChild(thead);

  // Find the maximum vote count
  var maximum_vote_count = 0;
  for (var i = 0; i < project_ranked_votes.length; i++) {
    if (project_ranked_votes[i][max_n_projects+2] > maximum_vote_count) {
      maximum_vote_count = project_ranked_votes[i][max_n_projects+2];
    }
  }

  var tbody = document.createElement('tbody');
  for (var i = 0; i < project_ranked_votes.length; ++i) {
    var tr = document.createElement('tr');

    {
      var td = document.createElement('td');
      td.textContent = project_ranked_votes[i][0];
      tr.appendChild(td);

      td = document.createElement('td');
      td.textContent = costWithDelimiter(project_ranked_votes[i][1], currency_symbol);
      tr.appendChild(td);

      for (var j = 0; j < max_n_projects; j++) {
        td = document.createElement('td');
        td.textContent = project_ranked_votes[i][j+2];
        tr.appendChild(td);
      }

      td = document.createElement('td');
      {
        var progressDiv = document.createElement('div');
        progressDiv.className = 'progress';
        {
          var progressBarDiv = document.createElement('div');
          progressBarDiv.className = 'progress-bar progress-bar-success';
          progressBarDiv.style.width = (project_ranked_votes[i][max_n_projects+2] / maximum_vote_count * 100) + '%';
          progressBarDiv.textContent = numberWithDelimiter(project_ranked_votes[i][max_n_projects+2]);
          progressDiv.appendChild(progressBarDiv);
        }
        td.appendChild(progressDiv);
      }
      tr.appendChild(td);

    }

    tbody.appendChild(tr);
  }
  table.appendChild(tbody);

  $('#ranked-approval-analytics-table').text("");
  $('#ranked-approval-analytics-table').append(table);
}

reloadRankedApprovalTable();
</script>
