<style>
.navbar {
  background-color: #444;
  border-color: #5c5c5c !important;
}

#leftbar {
  background-color: #444 !important;
}

#topbar {
  background-color: #444 !important;
}

#tracker {
  color: #fff;
}

.sidebar-title {
  color: #fff;
  background-color: transparent;
}

.sidebar-category-name {
  color: #fff;
  margin-top: 20px;
}

.sidebar-category-name:hover {
  color: #fff;
}

.sidebar-item {
  border-top: 1px #5c5c5c solid !important;
  border-right: 0px black solid !important;
  background-color: transparent !important;
  color: #fff !important;
}

.sidebar-item:last-child {
  border-bottom: 1px #5c5c5c solid;
}

.sidebar-item:hover {
  background-color: #666 !important;
}

.sidebar-item.success {
  background-color: #449d44 !important;
}

.sidebar-item.success .checkmark {
  color: white;
}

.sidebar-item.disabled {
  color: #999 !important;
}
</style>
