<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Welcome to Stanford Participatory Budgeting Platform!</p>
<p>To activate your account, please click the following link to set your password:</p>
<p><%= @confirm_url %></p>
<p>Thank you,<br>Stanford Crowdsourced Democracy Team</p>
</body>
</html>
