<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello,</p>
<p>Someone has requested to reset your password.</p>
<p>To reset your password, please click the following link: <%= @reset_url %></p>
<p>If you didn't request this, please disregard this message.</p>
<p>Thank you,<br>Stanford Crowdsourced Democracy Team</p>
<p></p>
</body>
</html>
