<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>Here is a copy of your vote for Participatory Budgeting</h2>
<ul>
  <% @result.each do |project_title| %>
    <li><%= project_title %></li>
  <% end %>
</ul>
<p>Thank you for voting and have a great day!</p>
</body>
</html>
