<% content_for :head do %>
<style>
@media (max-width: 768px) {
  #budgetbar-offset {
    margin-top: 40px;
  }
  #projects {
    margin-top: 60px;
  }
}

#budgetbar-text {
  font-size: 20px;
  color: #ccc;
  background-color: rgba(52, 58, 64, 0.7);
}

#budgetbar-text .money {
  color: white;
}

#budgetbar-text .remaining-money {
  color: #a1ff00;
}

#budgetbar-progress {
  background-color: white;
  pointer-events: auto;
}

#budgetbar-progress .progress-bar {
  border-right: 1px #f5f5f5 solid;
}

#budgetbar-progress .progress-bar:last-child {
  border-right: none;
}

#budgetbar-progress .progress-bar:hover {
  background-color: #3fb83f;
}

.budgerbar-thumb {
  max-width: 160px;
}

#budgetbar {
  width: 100%;
  text-align: center;
  padding: 12px;
  min-height: 107px;
  pointer-events: none;
}

.navbar {
  background-color: transparent !important;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.navbarWrapper {
  background-color: #343a40;
}
</style>
<% end %>

<div id="budgetbar">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="budgetbar-offset">
        <span id="budgetbar-text">
          <%= t('approval.budgetbar.text',
                total: '<span class="money"><span id="budgetbar-total">' + cost_with_delimiter(0, @election.config[:currency_symbol]) + '</span></span>',
                budget: '<span class="money">' + cost_with_delimiter(@election.budget.to_i, @election.config[:currency_symbol]) + '</span>').html_safe %><br>
          <span id="budgetbar-description"></span>
        </span>
        <div class="progress" id="budgetbar-progress"></div>
      </div>
    </div>
  </div>
</div>
</div>
