<% content_for :title, 'Stanford Participatory Budgeting Platform' %>

<% content_for :head do %>
  <meta property="og:title" content="Stanford Participatory Budgeting Platform" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Stanford Participatory Budgeting Platform allows cities, municipalities, states and foundations and other organizations to run a participatory budgeting (PB) election in which people can vote on the budget. This project is made by the Stanford Crowdsourced Democracy Team at Stanford University. It is open-source and free." />
  <meta property="og:url" content="https://pbstanford.org/" />
  <meta property="og:image" content="https://pbstanford.org/img/stanford.jpg" />
  <meta property="og:image:alt" content="The Main Quad at Stanford University" />
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700|PT+Sans:400,700" rel="stylesheet" />
  <link href="/css/font-awesome.min.css" rel="stylesheet" />
  <style>
  body {
    padding-top: 50px;
    font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    p { font-size: 16px }
    .lead { font-size: 20px }
  }

  h1 { font-size: 2.5em }
  h2 { font-size: 2em }
  h3 { font-size: 1.75em }
  h4 { font-size: 1.5em }
  h5 { font-size: 1.25em }
  h6 { font-size: 1em }
  hr { max-width: 125px; margin: 0 auto; }

  header {
    background-image: url('/img/stanford.jpg');
    background-color: #666;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
  }
  header .btn-outline-light,
  header .btn-outline-light:hover,
  header .btn-outline-light:active,
  header .btn-outline-light:active:hover,
  header .btn-outline-light:focus {
    background: none;
    color: white;
    box-shadow: none !important;
  }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  header .intro-text .intro-subtitle {
    font-weight: 300;
    margin-bottom: 25px;
  }
  @media (min-width: 768px) {
    header .intro-text {
      padding-top: 234px;
      padding-bottom: 234px;
    }
    header .intro-text .intro-subtitle {
      margin-bottom: 50px;
    }
  }

  .feature {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .feature i {
    font-size: 80px;
  }
  .ss {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .ss img {
    border: 1px #eee solid;
    max-width: 300px;
    width: 100%;
  }
  .ss a {
    color: inherit;
  }

  #elections {
    background-color: #eee;
  }

  #slide {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #contactus {
    background-color: #eee;
  }

  footer {
    margin: 60px 0 20px;
  }

  footer a {
    color: inherit;
  }
  </style>
<% end %>

<% content_for :navbar_links do %>
  <li class="nav-item"><a class="nav-link page-scroll" href="#overview">Overview</a></li>
  <li class="nav-item"><a class="nav-link page-scroll" href="#features">Features</a></li>
  <li class="nav-item"><a class="nav-link page-scroll" href="#elections">Elections</a></li>
  <li class="nav-item"><a class="nav-link page-scroll" href="#mission">Mission</a></li>
  <li class="nav-item"><a class="nav-link page-scroll" href="#contactus">Contact Us</a></li>
<% end %>

<header>
  <div class="container-fluid">
    <div class="intro-text">
      <h1 class="intro-heading">Stanford Participatory Budgeting Platform</h1>
      <h4 class="intro-subtitle">A platform for running online participatory budgeting elections</h4>
      <p><a class="btn btn-outline-light btn-lg page-scroll" href="#overview">Read Overview</a></p>
    </div>
  </div>
</header>

<section id="overview">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10 text-center">
        <h2>Overview</h2>
        <p class="lead">Stanford Participatory Budgeting Platform allows cities, municipalities, states and foundations and other organizations to run a participatory budgeting (PB) election in which people can vote on the budget.

        This project is made by the <a href="https://voxpopuli.stanford.edu/" target="_blank">Stanford Crowdsourced Democracy Team</a> at Stanford University.
        The project is open-source and free.</p>
        <p class="lead">Our platform has been used in many cities in the United States, such as Chicago, Seattle, Boston, and New York City.</p>
      </div>
    </div>
  </div>
</section>

<hr>

<section id="features">
  <div class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h2>Features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <h4>Easy to Use</h4>
          <p>With simple and intuitive user interface,
          our platform is designed so that everyone can use it, whether they are tech-savvy or not.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <h4>Customizable</h4>
          <p>Our platform can be customized to suit your needs.
          We support many voting methods, such as approval voting, knapsack voting, and
          ranked voting.
          We also support remote voting.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-globe" aria-hidden="true"></i>
          <h4>Language Support</h4>
          <p>We currently support 13 languages on the platform, including Chinese, French, Hindi, and Spanish.
          Our editing tool lets you enter projects in multiple languages. See the <a href="#" data-toggle="modal" data-target="#languageModal">list of supported languages</a>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-mobile" aria-hidden="true"></i>
          <h4>Mobile Friendly</h4>
          <p>Our website adapts to the screen size of different devices.
          The website works everywhere whether it is on a PC or a smartphone.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-bar-chart" aria-hidden="true"></i>
          <h4>Analytics</h4>
          <p>The analytics tools let you explore the data and gain insight into the voters' preferences
          through visualization while protecting their privacy.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          <h4>Open Source</h4>
          <p>This is an open source project licensed under the GNU GPL v3.0 license.
          You can find the source code on <a href="https://github.com/StanfordCDT/pb" target="_blank" rel="noopener noreferrer">GitHub</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="elections">
  <div class="container-fluid text-center">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h2>Elections</h2>
        <p class="lead">See some of the past PB elections below, or see the <a href="#" data-toggle="modal" data-target="#electionModal">list of cities</a> that have collaborated with us.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="ss">
          <a href="/boston15" target="_blank">
            <p><img src="/img/ss_boston.png" alt="Screenshot of PB Boston's approval voting"></p>
            <h5>Boston, MA</h5>
          </a>
          <p>Approval voting</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ss">
          <a href="/nyc8/knapsack" target="_blank">
            <p><img src="/img/ss_nyc8.png" alt="Screenshot of PB New York City's District 8's knapsack voting"></p>
            <h5>New York City's District 8</h5>
          </a>
          <p>Knapsack voting</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ss">
          <a href="/49_2015/approval" target="_blank">
            <p><img src="/img/ss_chicago.png" alt="Screenshot of PB Chicago's 49th Ward's approval voting which shows a map visualization"></p>
            <h5>Chicago's 49th Ward</h5>
          </a>
          <p>Map visualization</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="ss">
          <a href="/dieppe2015" target="_blank">
            <p><img src="/img/ss_dieppe.png" alt="Screenshot of PB Dieppe, Canada's ranked voting"></p>
            <h5>Dieppe, Canada</h5>
          </a>
          <p>Ranked voting</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ss">
          <a href="/nyc27/comparison" target="_blank">
            <p><img src="/img/ss_nyc27.png" alt="Screenshot of PB New York City's District 27's comparison voting"></p>
            <h5>New York City's District 27</h5>
          </a>
          <p>Comparison voting</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ss">
          <a href="/greensboro1_2016/approval" target="_blank">
            <p><img src="/img/ss_greensboro.png" alt="Screenshot of PB Greensboro, NC's approval voting"></p>
            <h5>Greensboro, NC</h5>
          </a>
          <p>Approval voting</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <p>
          <a class="btn btn-outline-primary btn-md" href="#" data-toggle="modal" data-target="#electionModal">More Examples</a>
        </p>
      </div>
    </div>
  </div>

  <div class="modal" id="electionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>In the US</h4>
          <ul>
            <li><a href="/boston15">Boston, MA</a></li>
            <li><a href="/cambridge2017">Cambridge, MA</a></li>
            <li>Chicago, IL (Wards <a href="/chicago10">10</a>, <a href="/chicago22_2015">22</a>, <a href="/chicago22_2015">25</a>, <a href="/pb352019">35</a>, <a href="/chicago36">36</a>, <a href="/pb452019">45</a>, and <a href="/chicago49_2019">49</a>)</li>
            <li><a href="/durham2019">Durham, NC</a></li>
            <li><a href="/greensboro1">Greensboro, NC</a></li>
            <li><a href="/longbeach2016">Long Beach, CA</a></li>
            <li>Louisville, KY (Districts <a href="/louisville2019-d6">6</a> and <a href="/louisville2019-d8">8</a>)</li>
            <li>Merced County, CA (District <a href="/merced2019">2</a>)</li>
            <li>New York City, NY (Districts <a href="/nyc5">5</a>, <a href="/nyc8">8</a>, <a href="/nyc27">27</a>, <a href="/nyc31">31</a>, <a href="/nyc38">38</a>, and <a href="/nyc39">39</a>)</li>
            <li>Oakland, CA (Districts <a href="/oakland2017d1">1</a> and <a href="/oakland2017d2">2</a>)</li>
            <li><a href="/rochester2019">Rochester, NY</a></li>
            <li><a href="/seattle">Seattle, WA</a></li>
            <li><a href="/vallejo2018">Vallejo, CA</a></li>
          </ul>
          <h4>Outside the US</h4>
          <ul>
            <li><a href="/dieppe2018">Dieppe, Canada</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="languageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4>Supported Languages</h4>
          <ul>
            <li>English</li>
            <li>Amharic</li>
            <li>Arabic</li>
            <li>Bengali</li>
            <li>Chinese</li>
            <li>Finnish</li>
            <li>French</li>
            <li>German</li>
            <li>Haitian Creole</li>
            <li>Hmong Daw</li>
            <li>Hindi</li>
            <li>Khmer</li>
            <li>Polish</li>
            <li>Portuguese</li>
            <li>Spanish</li>
          </ul>
          <p>New language support can be added upon request. The translations should be provided by the city/organization. We suggest using volunteers or professional translation services such as <a href="https://gengo.com/" target="_blank" rel="noopener noreferrer">Gengo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mission">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10 text-center">
        <h2>Mission</h2>
        <p>Our mission is to scale up collaboration and decision-making. We envision an era in which large communities can deliberate and brainstorm with one another on important issues with the aid of intelligently designed algorithms and digital communication platforms. We believe that this will not only aid decision-makers in harnessing collective intelligence, but also lead to community members who are more informed and engaged in making their communities better. As part of this mission, our team has begun to partner with cities and municipalities to help organize local participatory budgeting elections.</p>
        <p>Stanford Participatory Budgeting Platform is a tool for participatory budgeting at the state, federal, and local levels. It will not only aid decision-makers in harnessing collective intelligence, but also lead to community members to be more informed and engaged. It was adopted from the earlier Widescope project. Read this Wall Street Journal <a href="https://www.wsj.com/articles/SB10001424053111904716604576542472754782288" target="_blank" rel="noopener noreferrer">article</a> to learn more about it: Crowdsourcing Deficit Reduction.</p>
        <p>You can read more about <a href="https://voxpopuli.stanford.edu/publications/" target="_blank">our current work and publications</a> here.</p>
        <center>
          <iframe id="slide" src="https://docs.google.com/presentation/d/1XXueoHPaj5mkCTavegoSZ9LQud7fOrhdArtiv3kUnig/embed?start=false&loop=false&delayms=3000" frameborder="0" width="600" height="366" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" title="Participatory Budgeting Platform Overview slides"></iframe>
        </center>
      </div>
    </div>
  </div>
</section>

<section id="contactus">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-sm-10">
        <h2 class="text-center">Contact Us</h2>
        <p class="lead text-center">Want to run a PB in your city or organization? Have a suggestion? Please email us at contact@pbstanford.org</p>

      </div>
    </div>
  </div>
</section>

<script>
// From http://gsgd.co.uk/sandbox/jquery/easing/jquery.easing.1.3.js
$.easing.easeInOutExpo = function (x, t, b, c, d) {
  if (t==0) return b;
  if (t==d) return b+c;
  if ((t/=d/2) < 1) return c/2 * Math.pow(2, 10 * (t - 1)) + b;
  return c/2 * (-Math.pow(2, -10 * --t) + 2) + b;
};

$('a.page-scroll').bind('click', function(event) {
  $('html, body').stop().animate({
    scrollTop: $(this.getAttribute('href')).offset().top - 50
  }, 1000, 'easeInOutExpo');
  event.preventDefault();
});

$('body').scrollspy({
  target: '.navbar',
  offset: 150
});
</script>
