<style>
  body {
    padding-top: 50px;
    font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
    ##border: 1px solid black;
    margin: 25px 50px 75px;
    ##background-color: lightblue;
  }
  
</style>

<body>

<h1> Terms of Service </h1>

<p> The PB Stanford Platform (the “<b>Platform </b>”) is a website aimed at supporting organizations to collect participatory budgeting opinions. The Platform is offered by the Stanford Crowdsourced Democracy Team (“<b>SCDT</b>”) at Stanford University (“<b>Stanford</b>”) as part of SCDT’s ongoing research project whose goal is to learn how to best use online technology for crowdsourced decision making and deliberation (the “<b>Research</b>”). The Platform is used by a city, state, foundation or other facilitator (as applicable, the “<b>Organizer</b>”) to organize and run its decision-making process (each, a “<b>Process</b>”) by soliciting input via the Platform from individual participants (e.g. residents, citizens, and other participants) in that Process (collectively, “<b>Participants</b>”). The Organizers and the Participants using this instance of the Platform are collectively referred to as the “<b>User</b>” for purposes of these TOS. The nature and scope of a given Process is determined by its Organizer, and a Process may include authentication, voter registration, one or multiple ballots, research questions, a satisfaction/demographic survey  and other forms of opinion or information gathering by the Organizer or SCDT as described in this TOS.
</p>
<p> By using the Platform, the User accepts and agrees to these TOS. These TOS may be amended by SCDT generally at any time. If you do not agree with any of the updated Terms, don't access or use the Platform.
</p>

<h2> Research Project </h2>
<p> The information SCDT collects from each instance or usage of the Platform, both directly observing and recording the interactions of Participants and any surveys completed before and after the Process, helps SCDT better understand the behavior of Participants in a deliberation or decision-making process and the best way of designing both online tools to facilitate these processes and the processes themselves.
</p>
<p> Any part of the Platform exclusively used for research, as opposed to enabling the Organizer to conduct a Process, will be covered by Stanford’s Institutional Review Board and require consent from the relevant Participants.
</p>
<p> Unless SCDT explicitly agrees otherwise with the applicable Organizer, SCDT reserves the right to discontinue the Research and/or to unilaterally terminate use of the Platform at any time.
</p>

<h2> No warranties </h2>
<p> The Platform is provided ‘as is’ without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the Platform or the use of the Platform.
</p>
<h2> Data use </h2>
<p>
Stanford and SCDT take personal privacy seriously. The Platform is designed with the goal of collecting only the personally identifiable information of Users that SCDT determines is reasonably required for the operation and functionality of the Platform, for the purposes of the Process established by its Organizer, and for achieving the learning and other objectives of the Research. Generally speaking, these are groups of data that the Platform collects:
</p>
<ul>
<li>Content-data: data streams of all actions of the Participant while on the Platform or participating in the Process (i.e., everything that a Participant does, says, posts, reads or clicks on). These data streams are captured and transmitted to SCDT or its service provider as part of and by the normal operation and core functionality of the Platform.</li>
<li>Technical data that the Participant’s computer transmits as part of its interactions with the Platform, depending on the Participant’s device setup. These technical data may include things like IP-address, browser information and device settings.</li>
<li> Authentication data entered by the Participant during the authentication process or the Organizer in advance, typically email address, phone number, zip code and/or name </li>
<li> Login data entered by the Organizer; </li>
</ul>
<p> Stanford and SCDT will not share any personally identifiable information of Participants collected by the Platform without your explicit consent. By accessing and using the Platform, each User explicitly consents and agrees to participating in the applicable Process as described below and the collection and use of the Platform’s data streams and transcripts as described in these TOS and that the such data and the transcripts may be collected, used and shared by Stanford and SCDT (or by the Platform directly):
</p>
<ul>
<li>to provide, operate and support the Platform and associated services; to improve and modify the Platform and do Platform-related performance analysis and improvement; </li>
<li> to conduct and publish the results of the Research, and any other research or teaching purposes within Stanford’s purview, provided that any included Participant data will be in aggregated, de-identified or anonymized form so that it does not include personally identifiable information; </li>
<li> as required to comply with any legal or regulatory process or requirement (e.g. a subpoena), to enforce these TOS, or to pursue available legal remedies or defend against legal claims; and </li>
<li> with the Organizer during the Process (and thereafter as described below) for its use for authentication and as a record of the Process and its proceedings. </li>
</ul>

<p> The Organizer bears sole responsibility for seeking consent from the Participant for any further sharing of personally identifiable information that the Organizer receives from Stanford, SDCT the Platform or otherwise collects, observes, or requests, including that observed, collected, or requested by any of Organizer’s administrators, employees, vendors, agents or observers that have been provided access to the Platform by Organizer or at its request. SCDT will provide any Organizer or Participant with a more detailed list of the types of data the Platform collects for any use of the Platform that pertains to the applicable Process, upon request.
</p>
<p> SCDT will not directly contact the Participants for any purpose unless approved by the Organizer, except in the following two cases:</p>
<ul>
<li> Providing technical support to the Participants in case of technical difficulties </li>
<li> Follow-up survey with explicit consent of the Participants</li>
</ul>

<p> By making the Platform available to Participants, Organizer represents and warrants that it shall use all User data it receives via the Platform and/or from Stanford or SCDT in accordance with all applicable laws and in accordance with Organizer’s privacy policy for its website.
</p>
<h2> Content and the Process </h2>

<p> The Organizer is solely responsible for any and all content the Organizer uploads or otherwise provides via the Platform (e.g., data, context, survey questions, etc.) and for ensuring that any and all such content is accurate, up-to-date and does not violate applicable laws and regulations. This includes translating the content to any desirable languages other than English.
</p>
<p>
Participants must be 13 years of age or older.
</p>
<p>
Organizer agrees that it will not use the Platform and run the Process in any manner that infringes intellectual property rights, privacy rights, or other third party rights or otherwise violates any law or other regulation.
</p>

<h2> Unauthorized Activities </h2>

<p> Participants are encouraged to actively engage in the discussion and share their opinions in the course of the Process. Nevertheless, Participants may not and will not use the Platform for in any of the "Unauthorized Activities" below. A Participant may be denied access to the Platform for Unauthorized Activity. "Unauthorized Activities" includes when a Participant does any of the following:
</p>
<ul>
<li> Defame, abuse, harass, stalk, threaten, or otherwise violate the legal rights (such as rights of privacy and publicity) of others.</li>
<li> Condone or encourage violence. </li>
<li> Use language in a manner that is racially, ethnically, or otherwise offensive. </li>
<li> Use explicit/obscene language or solicit/post violent, graphic or sexually explicit images (actual or simulated).</li>
<li> Make disclosures that violate rights of publicity or privacy, or other similar rights of any third-party.</li>
</ul>

<p> This list of Unauthorized Activities provides examples and is not complete or exclusive. </p>
<h2> Organizer Approval </h2>
<p> SCDT will not run a Process without consent from its Organizer. Subject to the terms of any separate written agreement between SCDT and the Organizer regarding use of the Platform or a Process, SCDT will only support a Process after approving a request from its Organizer that identifies the Organizer and the group of individuals who are potential Process Participants and defines the purpose and timeframe for the Process.
</p>
<h2> Reporting to the Organizer </h2>
<p> The Organizer will be able to observe the responses from Participants and will have access to some identifiable data about Participants that is collected by the Platform or disclosed by a Participant during the Process. Upon request, SCDT will provide the Organizer with de-identified or anonymized data from the Process, without personally identifiable information.
</p>
<h2> General </h2>
<p> Each User of the Platform hereby agrees that any dispute arising out of or relating to these Terms will be governed by the laws of the State of California, excluding its conflicts of law provisions. Each User of the Platform further consents to the personal jurisdiction of and exclusive venue in the federal and state courts located in and serving Santa Clara County, California as the legal forum for any such dispute. These TOS may be amended or supplemented with respect to a particular Platform use by an Organizer by separate written agreement(s) between SCDT and that Organizer; provided, however, those separate agreements apply only to use of the Platform by that Organizer.
</p>





</body>