<% content_for :title, 'Project: Edit' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main">

      <%= render partial: 'shared/admin_toolbar', locals: {items: [
        @election,
        ['Projects', admin_election_projects_path(@election)],
        @project.title
      ]} %>

      <h2>Edit Project</h2>
      <%= render partial: 'shared/project_form', locals: { is_creating: false } %>

    </div>
  </div>
</div>
