<% content_for :title, 'Project: New' %>

<% content_for :primary do %>
<div class="container-fluid">

      <h2>New Project</h2>
      <%= render partial: 'shared/project_form', locals: { is_creating: true } %>

</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  ['Projects', admin_election_projects_path(@election)],
  'New'
]} %>
