<% content_for :title, t('about.title') %>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">

      <%= raw t('about.description') %>

    </div>
  </div>
</div>
