<% content_for :title, 'Category: New' %>

<% content_for :primary do %>
<div class="container-fluid">

      <h2>New Category</h2>
      <%= render partial: 'shared/category_form' %>

</div>
<% end %>

<%= render partial: 'shared/admin_template', locals: {items: [
  @election,
  ['Categories', admin_election_categories_path(@election)],
  'New'
]} %>
