<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>New email from SMS.</h2>
<p>From: <%= @from %></p>
<p>Message: <%= @message %></p>
</body>
</html>
