<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">
      <%= render partial: 'shared/user_form', locals: { user: @user, is_creating: false, is_owner: true } %>
    </div>
  </div>
</div>
