<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">
      <h3>
        The email has been sent.
        Please check your email for a link to reset your password. Thanks!
      </h3>
    </div>
  </div>
</div>
