<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-10 main">

      <h1>Reset Password</h1>
      <p>Enter your email address. We will send you a link to reset your password.</p>

      <%= form_for(:user, url: {action: :post_reset_password}) do |f| %>
        <div class="form-group">
          <div class="form-group">
            <%= f.label :username, "Email address" %>
            <%= f.email_field :username, class: "form-control", autofocus: "autofocus" %>
          </div>

          <div class="form-group">
            <%= f.submit 'Submit', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
